In [1]:
import pandas as pd
import numpy as np
import datetime

In [12]:
df_scores = pd.read_csv('df_scores_super_master.csv')
df_teams_stats = pd.read_csv('df_team_stat_super_master.csv')

In [13]:
df_scores.drop(columns = ['Unnamed: 0'], inplace = True)
df_teams_stats.drop(columns = ['Unnamed: 0'], inplace = True)

#convert Date to datatetime
df_scores['Date'] = pd.to_datetime(df_scores['Date'], yearfirst = False)
df_teams_stats['Date'] = pd.to_datetime(df_teams_stats['Date'], yearfirst = False)

In [24]:
def select_season(df, season):
    """
    Args: Master dataframe, and first year of the season we want to retrieve (2010 means we are gonna
    retrieve the 2010-2011 season)
    Return: DataFrame of with all games of the season
    """
    
    #I consider that the first July the season as NBA hollidays
    #so for the upcoming year the season will finished at this date
    #for the current year we take all games after this date
    
    #we can make something more sophisticated if we want
    
    date_limit_up = datetime.datetime(season+1, 7, 1)
    date_limit_down = datetime.datetime(season, 7, 1)
    df_copy = df.copy()
    return df_copy[(date_limit_down < df_copy['Date']) &  (df_copy['Date'] < date_limit_up)]

def list_to_string(l):
    res = ''
    for element in l:
        res += element + ', '
    return res

def test_write_team_typing(df, team, stats = False):
    """
    Args: df of scores
    """
    if stats == False:   
        teams = df['Visitor'].unique()
        if team not in teams:
            raise ValueError('Please select a team inside the following: ' + list_to_string(teams))
    elif stats == True:
        teams = df['TEAM'].unique()
        if team not in teams:
            raise ValueError('Please select a team inside the following: ' + list_to_string(teams))
    
def select_team(df, team, stats = False):
    """
    Args: df: DataFrame score or a DataFrame with the same structure
    
    retrun: DataFrame with just the game played by a team
    """

    test_write_team_typing(df, team, stats)
    
    df_copy = df.copy()
    if stats == False:  
        df_res = df_copy[(df_copy['Visitor'] == team) | (df_copy['Home'] == team)]
    elif stats == True:
        df_res = df_copy[(df_copy['TEAM'] == team)]
    return df_res

In [25]:
df_2015 = select_season(df_scores, 2015)
df_2015

      GAMEID    Visitor  VisitorScore           Home  HomeScore       Date
5536    5551    Pistons           106          Hawks         94 2015-10-27
5537    5552  Cavaliers            95          Bulls         97 2015-10-27
5538    5553   Pelicans            95       Warriors        111 2015-10-27
5539    5554    Wizards            88          Magic         87 2015-10-28
5540    5555      76ers            95        Celtics        112 2015-10-28
...      ...        ...           ...            ...        ...        ...
6761    6779   Pelicans           109   Timberwolves        144 2016-04-13
6762    6780  Grizzlies           104       Warriors        125 2016-04-13
6763    6781       Jazz            96         Lakers        101 2016-04-13
6764    6782   Clippers           105           Suns        114 2016-04-13
6765    6783    Nuggets            99  Trail Blazers        107 2016-04-13

[1230 rows x 6 columns]

In [26]:
df_team_2015 = select_season(df_teams_stats, 2015)
df_team_2015

,TEAM,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,...,AST,STL,BLK,TO,PF,PTS,+/-,HOME,GAMEID,Date
11008,Pistons,37,96.0,38.5,12,29.0,41.4,20,26.0,76.9,...,23,5,3,15,15,106,12.0,0,5551,2015-10-27
11009,Hawks,37,82.0,45.1,8,27.0,29.6,12,15.0,80.0,...,22,9,4,15,25,94,-12.0,1,5551,2015-10-27
11010,Cavaliers,38,94.0,40.4,9,29.0,31.0,10,17.0,58.8,...,26,5,7,10,21,95,-2.0,0,5552,2015-10-27
11011,Bulls,37,87.0,42.5,7,19.0,36.8,16,23.0,69.6,...,13,6,10,13,22,97,2.0,1,5552,2015-10-27
11012,Pelicans,35,83.0,42.2,6,18.0,33.3,19,27.0,70.4,...,21,9,3,18,26,95,-16.0,0,5553,2015-10-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13463,Lakers,41,85.0,48.2,6,25.0,24.0,13,15.0,86.7,...,19,6,3,13,17,101,5.0,1,6781,2016-04-13
13464,Clippers,43,96.0,44.8,9,31.0,29.0,10,12.0,83.3,...,23,9,6,15,20,105,-9.0,0,6782,2016-04-13
13465,Suns,45,99.0,45.5,7,26.0,26.9,17,22.0,77.3,...,26,10,5,16,15,114,9.0,1,6782,2016-04-13
13466,Nuggets,40,94.0,42.6,7,25.0,28.0,12,18.0,66.7,...,24,10,6,20,19,99,-8.0,0,6783,2016-04-13
13467,Trail Blazers,39,89.0,43.8,11,36.0,30.6,18,22.0,81.8,...,19,11,8,15,19,107,8.0,1,6783,2016-04-13

In [29]:
df_lakers = select_team(df_2015, 'Bobcats')

ValueError: Please select a team inside the following: Pistons, Cavaliers, Pelicans, Wizards, 76ers, Bulls, Jazz, Hornets, Pacers, Nuggets, Knicks, Spurs, Mavericks, Clippers, Timberwolves, Grizzlies, Hawks, Heat, Thunder, Raptors, Nets, Warriors, Lakers, Trail Blazers, Suns, Kings, Rockets, Bucks, Magic, Celtics,

In [30]:
df_lakers = select_team(df_2015, 'Lakers', stats = False)
df_lakers

      GAMEID       Visitor  VisitorScore      Home  HomeScore       Date
5552    5567  Timberwolves           112    Lakers        111 2015-10-28
5566    5581        Lakers           114     Kings        132 2015-10-30
5580    5595     Mavericks           103    Lakers         93 2015-11-01
5594    5609       Nuggets           120    Lakers        109 2015-11-03
5612    5627        Lakers           104      Nets         98 2015-11-06
...      ...           ...           ...       ...        ...        ...
6707    6725      Clippers            91    Lakers         81 2016-04-06
6719    6737        Lakers           102  Pelicans        110 2016-04-08
6730    6748        Lakers           110   Rockets        130 2016-04-10
6744    6762        Lakers            79   Thunder        112 2016-04-11
6763    6781          Jazz            96    Lakers        101 2016-04-13

[82 rows x 6 columns]

In [31]:
df_team_lakers = select_team(df_team_2015, 'Lakers', stats = True)
df_team_lakers

,TEAM,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,...,AST,STL,BLK,TO,PF,PTS,+/-,HOME,GAMEID,Date
11041,Lakers,35,90.0,38.9,9,34.0,26.5,32,35.0,91.4,...,18,2,4,13,29,111,-1.0,1,5567,2015-10-28
11068,Lakers,41,89.0,46.1,11,34.0,32.4,21,27.0,77.8,...,20,7,9,19,24,114,-18.0,0,5581,2015-10-30
11097,Lakers,31,85.0,36.5,10,34.0,29.4,21,28.0,75.0,...,18,8,9,12,20,93,-10.0,1,5595,2015-11-01
11125,Lakers,36,86.0,41.9,6,26.0,23.1,31,38.0,81.6,...,18,9,4,10,28,109,-11.0,1,5609,2015-11-03
11160,Lakers,33,78.0,42.3,7,23.0,30.4,31,40.0,77.5,...,14,9,6,15,22,104,6.0,0,5627,2015-11-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13351,Lakers,32,90.0,35.6,4,19.0,21.1,13,17.0,76.5,...,12,6,1,12,16,81,-10.0,1,6725,2016-04-06
13374,Lakers,34,81.0,42.0,11,24.0,45.8,23,27.0,85.2,...,18,9,5,13,23,102,-8.0,0,6737,2016-04-08
13396,Lakers,41,83.0,49.4,12,28.0,42.9,16,19.0,84.2,...,25,10,3,18,15,110,-20.0,0,6748,2016-04-10
13424,Lakers,23,81.0,28.4,7,31.0,22.6,26,30.0,86.7,...,15,8,1,15,20,79,-33.0,0,6762,2016-04-11
13463,Lakers,41,85.0,48.2,6,25.0,24.0,13,15.0,86.7,...,19,6,3,13,17,101,5.0,1,6781,2016-04-13